%email {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }
  
textarea {
    min-height: 400px;
}
  
.read-email {
    @extend %email;
    background-color: #e6e6e6;
}
  
.unread-email {
    @extend %email;
    background-color: #ffffff;
}

#email-headers {
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 5px;
}

#email-body {
    padding: 5px;
    white-space: pre-wrap;
}